{% extends "customer/base.html" %}{% block dependencies %}
<!-- Script Files -->
<!-- <script src="/static/scripts/dashboard.js"></script> -->

<!-- Data Tables CSS with Extension features -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css" /> 

{% endblock dependencies %} {% block content %}
<!-- Navigation -->
<nav class="navbar static-top nav-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'customer:customer_landing_page' %}">Condor WatchBox</a>
        <a class="btn btn-primary" data-toggle="modal" data-target="#signout" href="#">Sign Out</a>
    </div>
</nav>

<!-- Sign Out Modal -->
<div class="modal fade" id="signout">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Do you want to leave us?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="">
                    <p>&emsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum magni magnam consequuntur eum nesciunt odio asperiores at soluta repudiandae ex corrupti ratione quia explicabo vitae quis quos amet, aliquid molestiae?</p>
                </div>
                <button type="submit" class="btn btn-secondary mt-3 float-right btn-md ml-3" data-dismiss="modal">No, I
                    want to
                    stay</button>
                <button type="submit" class="btn btn-danger mt-3 float-right btn-md">Sign out</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <div class="card">
            <div class="card-header row d-flex">
                <div class="col float-left align-items-center">
                    <h4>DVD Dashboard</h4>
                </div>
                <div class="col float-right align-items-center">
                    <a class="btn-primary p-2 float-right" href="{% url 'customer:customer_dashboard' %}">Go to Customer
                        Dashboard</a>
                </div>
            </div>
            <div class="card-title ml-4 mr-4 mt-3 mb-0">
                <!-- <h5 class="d-inline align-middle">DVD Report Summary</h5> -->
                <div class="col-6 float-left d-flex float-left align-items-center py-3 px-0">
                    <p class="mr-3">FROM</p>
                    <input id="min" name="min" type="date" class="mr-3">
                    <p class="mr-3">TO</p>
                    <input id="max" name="max" type="date" class="mr-3">
                    <button id="resetDateRange" name="resetDateRange" class="btn-primary" class="mr-3">Reset</button>
                </div>
                <div class="col-6 float-right ">
                    <button type="button" class="btn btn-primary float-right mt-3" data-toggle="modal" data-target="#addDVD">
                        Add DVD</button>
                </div>
            </div>
            <div class="card-body">
                <table id="dvdTable" class="table table-responsive-md customDataTable table-custom-bg table-hover">
                    <thead>
                        <tr>
                            <th>Date Registered</th>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Release Date</th>
                            <th>Price</th>
                            <th>No. of Items</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add DVD Modal -->
<div class="modal fade" id="addDVD" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add DVD</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="addDvdForm" class="needs-validation" method="POST" aria-autocomplete="off" autocomplete="off" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- DVD Title, Director, Genre -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="title" class="">DVD Title</label>
                            <input type="text" class="form-control" id="add-title" name="add-title" placeholder="DVD Title" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="director" class="">Director</label>
                            <input type="text" class="form-control" id="add-director" name="add-director" placeholder="Last Name, First Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Genre" class="">Genre</label>
                            <input type="text" class="form-control" id="add-genre" name="add-genre" placeholder="Genre" required>
                        </div>
                    </div>
                    <!-- Release Date -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="bdate" class="">Release Date</label>
                            <input type="date" class="form-control" id="add-release_date" name="add-release_date" required>
                        </div>
                    </div>
                    <!-- Casts -->
                    <div class="form-group">
                        <label for="casts">Casts</label>
                        <div class="input-group" id="casts">
                            <input type="text" class="form-control" id="add-casts" name="add-casts" placeholder="Last Name, First Name" aria-label="Cast's Full Name" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group" id="price">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Php</span>
                            </div>
                            <input type="number" value="1000" min="0" max="50000" step="50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="add-price" name="add-price" oninput="this.value = Math.abs(this.value)" />
                        </div>
                    </div>
                    <!-- No of Items -->
                    <div class="form-group">
                        <label for="number_of_items">Number of Items</label>
                        <input type="number" class="form-control" id="add-number_of_items" name="add-number_of_items" min="0" max="500" value="0" oninput="this.value = Math.abs(this.value)">
                    </div>
                    <!-- Images -->
                    <div class="form-group">
                        <label for="picture">Images</label>
                        <input type="file" class="form-control-file" id="add-picture" name="add-picture" multiple>
                    </div>
                    <div id="add-image-container"></div>
                    <button id="addDvdBtn" type="submit" class="btn btn-primary mt-3 float-right btn-md">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- View DVD Modal -->
<div class="modal fade" id="viewDvd">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">View DVD</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="viewDvdForm" class="needs-validation" method="POST" aria-autocomplete="off" autocomplete="off" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- DVD Title, Director, Genre -->
                    <div class="form-row">
                        <div class="form-group col-md-12" hidden>
                            <label for="title" class="">SKU</label>
                            <input type="text" class="form-control" id="sku" name="sku" placeholder="SKU" minlength="0" maxlength="50" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="title" class="">DVD Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Kaguya-sama Love is War?" minlength="0" maxlength="50" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="director" class="">Director</label>
                            <input type="text" class="form-control" id="director" name="director" placeholder="Shinichi Omata" minlength="0" maxlength="50" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Genre" class="">Genre</label>
                            <input type="text" class="form-control" id="lastName" name="genre" placeholder="RomCom" minlength="0" maxlength="50" required>
                        </div>
                    </div>
                    <!-- Release Date -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="bdate" class="">Release Date</label>
                            <input type="date" class="form-control" id="release_date" name="release_date" required>
                        </div>
                    </div>
                    <!-- Casts -->
                    <div class="form-group">
                        <label for="casts">Casts</label>
                        <div class="input-group" id="casts">
                            <input type="text" class="form-control" id="casts" name="casts" placeholder="Last Name, First Name" aria-label="Cast's Full Name" aria-describedby="basic-addon2" minlength="0" maxlength="100" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group" id="price">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Php</span>
                            </div>
                            <input type="number" value="1000" min="0" step="50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="price" name="price" oninput="this.value = Math.abs(this.value)" />
                        </div>
                    </div>
                    <!-- No of Items -->
                    <div class="form-group">
                        <label for="noOfItems">Number of Items</label>
                        <input type="number" class="form-control" id="number_of_items" name="number_of_items" min="0" value="0" oninput="this.value = Math.abs(this.value)">
                    </div>
                    <!-- Images -->
                    <div class="form-group">
                        <label for="picture">Images</label>
                        <input type="file" class="form-control-file" id="picture" name="picture" multiple>
                    </div>
                    <div id="view-image-container"></div>
                    <button type="button" class="btn btn-secondary mt-3 float-right btn-md ml-3" data-dismiss="modal">Cancel</button>
                    <button id="updateDvdBtn" type="submit" class="btn btn-success mt-3 float-right btn-md">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteDvd">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Record</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="deleteDvdForm" class="needs-validation" method="POST" aria-autocomplete="off" autocomplete="off" action="" enctype="multipart/form-data">
                    <!-- Question  -->

                    <div class="form-row" hidden>
                        <div class="form-group col-md-12">
                            <label for="title" class="">SKU</label>
                            <input type="text" class="form-control" id="delete-sku" name="sku" placeholder="SKU" minlength="0" maxlength="50" required>
                        </div>
                    </div>
                    <h6>Are you sure you want to delete this record?</h6>
                    <button type="button" class="btn btn-secondary mt-3 float-right btn-md ml-3" data-dismiss="modal">No</button>
                    <button id="deleteDvdBtn" type="submit" class="btn btn-danger mt-3 float-right btn-md">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block scriptContent %}
<!-- DataTables js with extensions for print copy pdf-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/datatables.min.js"></script>
<!-- Initialization -->
<script>
    token = '{{ csrf_token }}';
    initializedDvdListeners(token);
    let dvd_table = null;
    let data = null;
    $(document).keydown(function(event) {
        if (event.keyCode == 27) {
            if ($('.modal.show').length) {
                // $('#addDVD').hide();
                // $('#addDVD').fadeOut(500);
                // window.close();
                jQuery("#addDVD").modal('toggle');
                jQuery("#viewDVD").modal('toggle');
                // console.log($('#myModal').is(':visible'));
            }
        }
    });
    // Show image after upload
    var fileUpload = document.getElementById("add-picture");
    fileUpload.onchange = function() {
        let dvPreview = document.getElementById("add-image-container");
        if (fileUpload.files.length <= 3) {
            dvPreview.innerHTML = "";
            let regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            for (var i = 0; i < fileUpload.files.length; i++) {
                let file = fileUpload.files[i];
                if (regex.test(file.name.toLowerCase())) {
                    let reader = new FileReader();
                    reader.onload = function(e) {
                        // dvPreview.src = e.target.result;
                        let img = document.createElement("IMG");
                        // img.height = "100%";
                        img.width = "100";
                        img.src = e.target.result;
                        dvPreview.appendChild(img);
                        console.log(fileUpload.files.length + ' uploaded files.');
                    }
                    reader.readAsDataURL(file);
                } else {
                    alert(file.name + " is not a valid image file.");
                    dvPreview.innerHTML = "";
                    return false;
                }
            }
        } else {
            alert("You can only add up to 3 images");
            // empty the input file and remove child of add-image-container
            fileUpload.value = '';
            dvPreview.innerHTML = '';
            console.log("You can only add up to 3 images");
        }
    }

    $(document).ready(function() {
        let initialTableSettings = {
            searching: true,
            buttons: [
                'print', 'copy', 'pdf', 'excel'
            ],
            order: [
                [0, 'asc']
            ],
            pagingType: 'full_numbers',
            lengthMenu: [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, 'All']
            ],
            dom: `<
            <"d-flex float-left mb-2"
                <"mr-3 ml-1"f>
                l
                
            >
            <"d-flex float-right"B>
            <t>
            <"bottom"
                <"d-inline"
                    <"float-left mt-0 ml-1 mb-3"i>
                    <"float-right mt-1"p>
                >   
            >
        >`,
            columnDefs: [
                //removes the sort buttons in the buttons column
                {
                    orderable: false,
                    "targets": 6
                },
                //Adds View Delete buttons to every row in the datatable
                {
                    targets: 6,
                    data: null,
                    defaultContent: `<div class="button-container">
                        <button type="button" class="btn btn-sm mr-2 mb-2 w-auto vud vud-view" data-toggle="modal" data-target="#viewDvd" onclick="viewDvd(this)">
                            <i class="far fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-sm mr-2 mb-2 w-auto vud vud-delete" data-toggle="modal" data-target="#deleteDvd" onclick="deleteDvd(this)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>`
                }
            ],
            //alternatively you can use the syntax-->>>  ajax: "{% url 'customer:customer_dashboard' %}",
            ajax: {
                //empty means this will just redirect to the current url of the page
                url: '',
                dataSrc: "data"
            },
            //matches the data to appropriate column
            columns: [{
                "data": 'date_registered'
            }, {
                "data": 'title'
            }, {
                "data": 'genre'
            }, {
                "data": 'release_date'
            }, {
                "data": 'price'
            }, {
                "data": 'number_of_items'
            }, ],
            //Adds data-id attribute to each row
            createdRow: function(row, data, dataIndex) {
                $(row).attr('data-sku', data.sku);
            },
            initComplete: function() {
                // get data for view button listener
                data = dvd_table.ajax.json().data;
                this.api().columns().every(function() {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">Filter None</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function() {
                            let val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });
                    column.data().unique().sort().each(function(d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        }
        let table = $('#dvdTable').DataTable(initialTableSettings);
        dvd_table = table;
        $("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
        $("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
        let dateRangeFunc = function(settings, data, dataIndex) {
            let min = new Date($('#min').val()).getTime();
            let max = new Date($('#max').val()).getTime();
            let date = new Date(data[0]).getTime();
            if (min <= date && date <= max) {
                return true;
            }
            return false;
        }
        $.fn.dataTable.ext.search.push(dateRangeFunc);

        $('#min, #max').change(function() {
            table.draw();
        });

        $('#resetDateRange').click(function() {
            $("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
            $("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
            table.draw();
        });
    });
    //ajax form for add dvd
    function initializedDvdListeners(csrf_token) {
        let addDvdForm = document.getElementById('addDvdForm');
        $('#addDvdBtn').click(function(e) {
            e.preventDefault();
            let formData = new FormData(addDvdForm);
            for (var pair of formData.entries()) {
                console.log(pair[0] + ' - ' + pair[1]);
            }
            $.ajax({
                url: '',
                type: 'post',
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                //data to be passed to django view
                data: formData,
                contentType: false,
                processData: false,
                //when successful, change the data in table with new data from server
                success: function(response) {
                    data = response.data;
                    //resets the input form
                    dvd_table.clear().draw();
                    dvd_table.rows.add(response.data);
                    dvd_table.columns.adjust().draw();
                    addDvdForm.reset();
                    let dvPreview = document.getElementById("add-image-container");
                    dvPreview.innerHTML = '';
                    console.log('create dvd success');
                },
                error: function() {
                    console.log('create dvd failed')
                }
            });
            jQuery("#addDVD").modal('toggle');
        });
        let viewDvdForm = document.getElementById('viewDvdForm');
        $('#updateDvdBtn').click(function(e) {
            e.preventDefault();
            console.log('updateDvdBtn');
            let formData = new FormData(viewDvdForm);
            formData.append('csrfmiddlewaretoken', $('meta[name="csrf-token"]').attr('content'))
            for (var pair of formData.entries()) {
                console.log(pair[0] + ' - ' + pair[1]);
            }
            $.ajax({
                url: '{% url "customer:dvd_update" %}',
                type: 'post',
                //data to be passed to django view
                data: formData,
                contentType: false,
                processData: false,
                //when successful, change the data in table with new data from server
                success: function(response) {
                    data = response.data;
                    //resets the input form
                    dvd_table.clear().draw();
                    dvd_table.rows.add(response.data);
                    dvd_table.columns.adjust().draw();
                    viewDvdForm.reset();
                    console.log('update success');
                },
                error: function() {
                    console.log('update failed')
                    viewDvdForm.reset();
                }
            });
            jQuery("#viewDvd").modal('toggle');
        });
        let deleteDvdForm = document.getElementById('deleteDvdForm');
        $('#deleteDvdBtn').click(function(e) {
            e.preventDefault();
            console.log('deleteDvdBtn');
            let formData = new FormData(deleteDvdForm);
            formData.append('csrfmiddlewaretoken', $('meta[name="csrf-token"]').attr('content'))
            for (var pair of formData.entries()) {
                console.log(pair[0] + ' - ' + pair[1]);
            }
            $.ajax({
                url: '{% url "customer:dvd_delete" %}',
                type: 'post',
                //data to be passed to django view
                data: formData,
                contentType: false,
                processData: false,
                //when successful, change the data in table with new data from server
                success: function(response) {
                    data = response.data;
                    //resets the input form
                    dvd_table.clear().draw();
                    dvd_table.rows.add(response.data);
                    dvd_table.columns.adjust().draw();
                    console.log('delete success');
                },
                error: function() {
                    console.log('delete failed')
                }
            });
            jQuery("#deleteDvd").modal('toggle');
        });
    }


    function viewDvd(button) {
        //get sku
        let sku = button.parentNode.parentNode.parentNode.getAttribute("data-sku");
        let dvd = null;
        for (let i = 0; i < data.length; i++) {
            if (data[i].sku == sku) {
                dvd = data[i];
                break;
            }
        }
        //get input elements
        let inputElements = document.getElementById('viewDvdForm').querySelectorAll("input");
        //for looping and assigning values rather than manually assigning values to each input
        let inputName;
        for (let i = 0; i < inputElements.length; i++) {
            inputName = inputElements[i].getAttribute("name");
            // Date
            if (inputName == 'release_date' && dvd[inputName] != null) {
                inputElements[i].value = new Date(dvd[inputName]).toISOString().slice(0, 10);
            }
            // Image 
            else if (inputName == 'picture' && dvd[inputName] != '') {
                let dvPreview = document.getElementById("view-image-container");
                dvPreview.innerHTML = '';
                let img = document.createElement("IMG");
                img.width = "100";
                img.src = '/media/' + dvd[inputName];
                dvPreview.appendChild(img);
            }
            // Text 
            else {
                console.log(inputName + ': ' + dvd[inputName]);
                inputElements[i].value = dvd[inputName];
            }
        }
    }

    function deleteDvd(button) {
        let sku = button.parentNode.parentNode.parentNode.getAttribute("data-sku");
        let deletesku = document.getElementById('delete-sku');
        deletesku.value = sku;
    }
</script>
{% endblock scriptContent %}