{% extends "customer/base.html" %} {% block dependencies %}
<!-- Script Files -->
<script src="/static/scripts/dashboard.js"></script>

<!-- Data Tables CSS with Extension features -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css" /> {% endblock dependencies %} {% block content %}
<!-- Navigation -->
<nav class="navbar static-top nav-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'customer:customer_landing_page' %}">Condor WatchBox</a>
        <a class="btn btn-primary" data-toggle="modal" data-target="#signout" href="#">Sign Out</a>
    </div>
</nav>

<!-- Sign Out Modal -->
<div class="modal fade" id="signout">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Do you want to leave us?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="">
                    <p>&emsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum magni magnam consequuntur eum nesciunt odio asperiores at soluta repudiandae ex corrupti ratione quia explicabo vitae quis quos amet, aliquid molestiae?</p>
                </div>
                <button type="submit" class="btn btn-secondary mt-3 float-right btn-md ml-3" data-dismiss="modal">No, I
                    want to
                    stay</button>
                <button type="submit" class="btn btn-danger mt-3 float-right btn-md">Sign out</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <div class="card">
            <div class="card-header row d-flex">
                <div class="col float-left align-items-center">
                    <h4>DVD Dashboard</h4>
                </div>
                <div class="col float-right align-items-center">
                    <a class="btn-primary p-2 float-right" href="{% url 'customer:customer_dashboard' %}">Go to Customer
                        Dashboard</a>
                </div>
            </div>
            <div class="card-title ml-4 mr-4 mt-3 mb-0">
                <!-- <h5 class="d-inline align-middle">DVD Report Summary</h5> -->
                <div class="col-6 float-left d-flex float-left align-items-center py-3 px-0">
                    <p class="mr-3">FROM</p>
                    <input id="min" name="min" type="date" class="mr-3">
                    <p class="mr-3">TO</p>
                    <input id="max" name="max" type="date" class="mr-3">
                    <button id="resetDateRange" name="resetDateRange" class="btn-primary" class="mr-3">Reset</button>
                </div>
                <div class="col-6 float-right ">
                    <button type="button" class="btn btn-primary float-right mt-3" data-toggle="modal" data-target="#addDVD">
                        Add DVD</button>
                </div>
            </div>
            <div class="card-body">
                <table id="dvdTable" class="table table-responsive-md customDataTable table-custom-bg table-hover">
                    <thead>
                        <tr>
                            <th>Date Registered</th>
                            <th>Genre</th>
                            <th>Title</th>
                            <th>Release Date</th>
                            <th>Price</th>
                            <th>No. of Items</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dvd in dvds %}
                        <tr>
                            <td>{{dvd.date_registered}}</td>
                            <td>{{dvd.genre}}</td>
                            <td>{{dvd.title}}</td>
                            <td>{{dvd.release_date}}</td>
                            <td>PHP {{dvd.price}}</td>
                            <td>{{dvd.number_of_items}}</td>
                            <td class="text-center">
                                <div class="button-container">
                                    <button type="button" class="btn btn-sm mr-2 mb-2 w-auto vud vud-view" data-toggle="modal" data-target="#viewDVD">
                                        <i class="far fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm mr-2 mb-2 w-auto vud vud-delete" data-toggle="modal" data-target="#deleteRow">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add DVD Modal -->
<div class="modal fade" id="addDVD" data-backdrop="static">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add DVD</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="needs-validation" method="post">
                    {% csrf_token %}
                    <!-- DVD Title, Director, Genre -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="title" class="">DVD Title</label>
                            <input type="text" class="form-control" id="add-title" name="add-title" placeholder="Kaguya-sama Love is War?" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="director" class="">Director</label>
                            <input type="text" class="form-control" id="add-director" name="add-director" placeholder="Shinichi Omata" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Genre" class="">Genre</label>
                            <input type="text" class="form-control" id="add-genre" name="add-genre" placeholder="RomCom" required>
                        </div>
                    </div>
                    <!-- Release Date -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="bdate" class="">Release Date</label>
                            <input type="date" class="form-control" id="add-release_date" name="add-release_date" required>
                        </div>
                    </div>
                    <!-- Casts -->
                    <div class="form-group">
                        <label for="casts">Casts</label>
                        <div class="input-group" id="casts">
                            <input type="text" class="form-control" id="add-casts" name="add-casts" placeholder="Last Name, First Name" aria-label="Cast's Full Name" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group" id="price">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Php</span>
                            </div>
                            <input type="number" value="1000" min="0" step="50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="add-price" name="add-price" oninput="this.value = Math.abs(this.value)" />
                        </div>
                    </div>
                    <!-- No of Items -->
                    <div class="form-group">
                        <label for="noOfItems">Number of Items</label>
                        <input type="number" class="form-control" id="add-number_of_items" name="add-number_of_items" min="0" value="0" oninput="this.value = Math.abs(this.value)">
                    </div>
                    <!-- Images -->
                    <div class="form-group">
                        <label for="picture">Images</label>
                        <input type="file" class="form-control-file" id="add-picture" name="add-picture" required multiple>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 float-right btn-md">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- View DVD Modal -->
<div class="modal fade" id="viewDVD">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">View DVD</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="needs-validation">
                    {% csrf_token %}
                    <!-- DVD Title, Director, Genre -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="title" class="">DVD Title</label>
                            <input type="text" class="form-control" id="view-title" name="view-title" placeholder="Kaguya-sama Love is War?" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="director" class="">Director</label>
                            <input type="text" class="form-control" id="view-director" name="view-director" placeholder="Shinichi Omata" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Genre" class="">Genre</label>
                            <input type="text" class="form-control" id="view-lastName" name="view-genre" placeholder="RomCom" required>
                        </div>
                    </div>
                    <!-- Release Date -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="bdate" class="">Release Date</label>
                            <input type="date" class="form-control" id="view-releasedate" name="view-releasedate" required>
                        </div>
                    </div>
                    <!-- Casts -->
                    <div class="form-group">
                        <label for="casts">Casts</label>
                        <div class="input-group" id="casts">
                            <input type="text" class="form-control" id="view-casts" name="view-casts" placeholder="Last Name, First Name" aria-label="Cast's Full Name" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group" id="price">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Php</span>
                            </div>
                            <input type="number" value="1000" min="0" step="50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="view-price" name="view-price" oninput="this.value = Math.abs(this.value)" />
                        </div>
                    </div>
                    <!-- No of Items -->
                    <div class="form-group">
                        <label for="noOfItems">Number of Items</label>
                        <input type="number" class="form-control" id="view-noOfItems" name="view-noOfItems" min="0" value="0" oninput="this.value = Math.abs(this.value)">
                    </div>
                    <!-- Images -->
                    <div class="form-group">
                        <label for="picture">Images</label>
                        <input type="file" class="form-control-file" id="view-picture" name="view-picture" required multiple>
                    </div>
                    <button type="button" class="btn btn-secondary mt-3 float-right btn-md ml-3" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success mt-3 float-right btn-md">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteRow">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Record</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="needs-validation" action="dashboard.html">
                    <!-- Question  -->
                    <h6>Are you sure you want to delete this record?</h6>
                    <button type="button" class="btn btn-secondary mt-3 float-right btn-md ml-3" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger mt-3 float-right btn-md">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block scriptContent %}
<!-- DataTables js with extensions for print copy pdf-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/datatables.min.js"></script>
<!-- Initialization -->
<script>
    $(document).ready(function() {
        let initialTableSettings = {
            searching: true,
            buttons: [
                'print', 'copy', 'pdf', 'excel'
            ],
            order: [
                [0, 'asc']
            ],
            pagingType: 'full_numbers',
            lengthMenu: [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, 'All']
            ],
            dom: `<
            <"d-flex float-left mb-2"
                <"mr-3 ml-1"f>
                l
                
            >
            <"d-flex float-right"B>
            <t>
            <"bottom"
                <"d-inline"
                    <"float-left mt-0 ml-1 mb-3"i>
                    <"float-right mt-1"p>
                >   
            >
        >`,
            "columnDefs": [{
                "orderable": false,
                "targets": 6
            }],
            initComplete: function() {
                this.api().columns().every(function() {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">Filter None</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function() {
                            let val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });
                    column.data().unique().sort().each(function(d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        }
        let table = $('#dvdTable').DataTable(initialTableSettings);
        $("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
        $("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
        let dateRangeFunc = function(settings, data, dataIndex) {
            console.log("RANGE FUNCTION")
            let min = new Date($('#min').val()).getTime();
            let max = new Date($('#max').val()).getTime();
            let date = new Date(data[0]).getTime();
            if (min <= date && date <= max) {
                return true;
            }
            return false;
        }
        $.fn.dataTable.ext.search.push(dateRangeFunc);

        $('#min, #max').change(function() {
            table.draw();
        });

        $('#resetDateRange').click(function() {
            $("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
            $("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
            table.draw();
        });
        // $('#addDVD').on('submit', function(e) {
        //     e.preventDefault();
        //     console.log('prevent refresh');

        //     $.ajax({
        //         type: 'POST',
        //         data: {
        //             addtitle: $('#add-title').val,
        //         },
        //         success: function() {
        //             // $('#addDVD').modal('hide');
        //         }
        //     })
        // });
    });
</script>
{% endblock scriptContent %}