@import "./variables";

.nav-custom{
    background: $first-color;
    color: $text-color;
    a.navbar-brand{
        color: $text-color;
    }
    a.btn {
        color: $text-color;
        background: $blue;
    }
    .nav-links{
        display: flex;
        width: 30%;
        justify-content: space-around;
    }
}